@import "tailwindcss";

#root, body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* TEMAS PERSONALIZADOS AUTONOMAX */
[data-theme="blue"] {
  --color-emerald-400: #60a5fa;
  --color-emerald-500: #3b82f6;
  --color-emerald-600: #2563eb;
  --color-emerald-700: #1d4ed8;
  --color-emerald-800: #1e40af;
  --color-emerald-900: #1e3a8a;
  --color-emerald-950: #0f172a;
}

[data-theme="violet"] {
  --color-emerald-400: #a78bfa;
  --color-emerald-500: #8b5cf6;
  --color-emerald-600: #7c3aed;
  --color-emerald-700: #6d28d9;
  --color-emerald-800: #5b21b6;
  --color-emerald-900: #4c1d95;
  --color-emerald-950: #2e1065;
}

[data-theme="amber"] {
  --color-emerald-400: #fbbf24;
  --color-emerald-500: #f59e0b;
  --color-emerald-600: #d97706;
  --color-emerald-700: #b45309;
  --color-emerald-800: #92400e;
  --color-emerald-900: #78350f;
  --color-emerald-950: #451a03;
}

[data-theme="cyan"] {
  --color-emerald-400: #22d3ee;
  --color-emerald-500: #06b6d4;
  --color-emerald-600: #0891b2;
  --color-emerald-700: #0e7490;
  --color-emerald-800: #155e75;
  --color-emerald-900: #164e63;
  --color-emerald-950: #083344;
}

[data-theme="rose"] {
  --color-emerald-400: #fb7185;
  --color-emerald-500: #f43f5e;
  --color-emerald-600: #e11d48;
  --color-emerald-700: #be123c;
  --color-emerald-800: #9f1239;
  --color-emerald-900: #881337;
  --color-emerald-950: #4c0519;
}